{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for category in categories %}
        <li><a href="{{ path('userLogin', { 'id': category.id }) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}